/*  Required Glide.js Core Stylesheet */
@import "/node_modules/@glidejs/glide/dist/css/glide.core.min.css";

/*  Optional Glide.js Theme Stylesheet */
@import "/node_modules/@glidejs/glide/dist/css/glide.theme.min.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    /* Font Family */
    body {
        font-family: "Montserrat", sans-serif;
    }
}

@layer components {
    .error-form-message {
        @apply text-red-500;
    }

    .btn {
        @apply text-white text-lg lg:text-2xl font-semibold px-6 py-3 inline-block disabled:hover:scale-100 scale-100 hover:scale-105 transition-all ease-in-out rounded-lg;
    }

    .form-group {
        @apply flex flex-col gap-y-1;
    }

    .form-group .form-label {
        @apply font-semibold text-lg;
    }

    body {
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
        color: #333;
    }

    #countdown {
        max-width: 600px;
        margin: 1rem auto 1rem;
        text-align: center;
        padding: 20px;
    }

    .countdown-title {
        font-size: 2rem;
        margin-bottom: 0.5rem;
        color: #022622;
        font-weight: 700;
    }

    .countdown-description {
        font-size: 1rem;
        margin-bottom: 2rem;
        color: #4b5563;
    }

    .countdown-blocks {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 8px;
        justify-content: center;
    }

    .time-block {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #f3f4f6;
        padding: 8px;
        border-radius: 0.5rem;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
        transition: transform 0.3s ease, box-shadow 0.3s ease;
    }

    .time-block:hover {
        transform: translateY(-3px);
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    }

    .time-value {
        font-size: 1.5rem;
        font-weight: bold;
        color: #022622;
        margin-bottom: 0.25rem;
    }

    .time-label {
        font-size: 0.875rem;
        font-weight: 500;
        color: #6b7280;
        text-transform: uppercase;
        letter-spacing: 0.05em;
        margin: 0;
    }

    /* Medium screens */
    @media (min-width: 768px) {
        .countdown-blocks {
            /* grid-template-columns: repeat(4, 1fr); */
            gap: 22px;
        }
    }

    /* Large screens */
    @media (min-width: 1024px) {
        .countdown-blocks {
            display: grid;
            gap: 24px;
        }

        .time-block {
            min-width: 120px;
            padding: 20px 24px;
        }

        .time-value {
            font-size: 2.5rem;
        }
    }

    /* Add animation for seconds changing */
    @keyframes pulse {
        0% {
            transform: scale(1);
        }
        50% {
            transform: scale(1.05);
        }
        100% {
            transform: scale(1);
        }
    }
}
